@model project_staff.Shared.DTOs.ProjectForCreationDto

@section Styles {
    <link rel="stylesheet" type="text/css" href="~/css/projectcreate.css?v=@DateTime.Now.Ticks" />
}
<div class="container text-center">
    <h1 class="pb-5 pt-4">Create new Project</h1>
    <form asp-action="Create" method="post">
        <div class="form-group mb-5">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mb-5">
            <label asp-for="CustomerCompany"></label>
            <input asp-for="CustomerCompany" class="form-control"></input>
            <span asp-validation-for="CustomerCompany" class="text-danger"></span>
        </div>
        <div class="form-group mb-5">
            <label asp-for="ExecutionCompany"></label>
            <input asp-for="ExecutionCompany" class="form-control"></input>
            <span asp-validation-for="ExecutionCompany" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="StartDate" class="control-label"></label>
            <input asp-for="StartDate" class="form-control" type="date" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-4">
            <label asp-for="EndDate" class="control-label"></label>
            <input asp-for="EndDate" class="form-control" type="date" />
            <span asp-validation-for="EndDate" class="text-danger"></span>
        </div>
        <div class="form-group mb-5">
            <label asp-for="Priority"></label>
            <input asp-for="Priority" class="form-control"></input>
            <span asp-validation-for="Priority" class="text-danger"></span>
        </div>
        <button type="submit" class="btn create-btn">Create</button>
    </form>
</div>